<%- include("header") -%>

<h1 style="color: black;">This is the about page</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi
     tenetur saepe, doloribus vel aperiam harum doloremque. Quis, laboriosam dignissimos 
     magnam quisquam eum ullam ut omnis.
     Ea vitae ducimus doloremque dignissimos.</p>

<%- include("footer") -%>